.parallax{
  background-image: url('http://imgur.com/a/iKDJbvK');

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
